.App {
  background-color: #2f3947;
  display: flex;
  flex-direction: column;
}

nav {
  /* height: 64px; */
  /* min-height: 64px; */
  display: flex;
  /* color: #758582; */
  color: #758582;
  /* border: 3px solid yellow; */
}
.nav-link {
  cursor: pointer;
  padding: 1em;
}

.navlink {
  text-decoration: none;
  /* color: yellow; */
  color: #758582;
  padding: 0.5em 1em;
  border-bottom: 3px solid #000000;
  margin: 3px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid orange; */
  /* flex: 1; */
}

@media only screen and (max-width: 320px) {
  .movie {
    width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .movie {
    width: 300px;
  }
}

.movie-card {
  width: 185px;
  margin: 16px 8px;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);

  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-poster {
  width: 100%;
  flex: 1;
}

.movie-card:hover {
  border: 1px solid yellow;
}

.movie-rating {
  position: absolute;
  z-index: 2;
  left: 6px;
  top: 6px;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px;
  border-radius: 3px;
  font-weight: bold;
  color: white;
}
